header {
  background-color: #333;
}

#content {
  padding: 24px;
  color: #333;
  background-color: #eaeaea;
}

nav {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  padding: 16px;
  color: #eaeaea;
}

header.fixed {
  position: fixed;
  width: 100%;
}

header.sticky {
  position: sticky;
  top: 10px;
}
