.hidden {
  display: none;
}

.icon-container {
  font-size: 20px;
}

.icon {
  width: 1em;
  height: 1em;
  font-size: inherit;
  display: inline-block;
}

.icon::before {
  content: "";
  display: inline-block;
  background-size: cover;
  width: 1em;
  height: 1em;
}

.icon-home::before {
  background-image: url("home.svg");
  vertical-align: text-top;
}