body {
  background-color: #eee;
}

.card {
  background-color: #ffffff;
  font-family: "Work Sans", sans-serif;
  width: 300px;
  height: 300px;
  padding: 30px;
}

.tag {
  background-color: #9999ff;
  border-radius: 12px;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: #5555ff;
}

.course {
  color: #ffffff;
  margin: auto 20px;
}

.icon {
  font-size: 50px;
  margin-right: 20px;
  color: #5555ff;
}

.module {
  color: #5555ff;
  font-size: 1.2rem;
  font-weight: bold;
}
