.float-button {
  height: 40px;
  width: 40px;
  color: #fff;
  border-radius: 10000px;
  border: none;
  background-color: #243aaa;
  cursor: pointer;
}

.float-button:focus {
  outline: none;
}

.float-button {
  position: fixed;
  bottom: 35px;
  right: 35px;
}

#content {
  width: 150px;
  background-color: #ccc;
}
