body {
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid red;
    display: flex;
    justify-content: stretch;
}

.box {
    min-width: 300px;
    min-height: 300px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}
