.box {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border: 1px solid #aaa;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.h-spacer-sm {
  width: 8px;
}

.h-spacer-md {
  width: 16px;
}

.h-spacer-lg {
  width: 24px;
}

.v-spacer-sm {
  height: 8px;
}

.v-spacer-md {
  height: 16px;
}

.v-spacer-lg {
  height: 24px;
}
