body {
    margin: 0;
    padding: 0;
    font-size: 3em;
}

/*  grid */

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    grid-gap: 10px;
}

header {
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 4;
}



/*  Itens do grid */


.main {
    background-color: green;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.aside-left {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
    grid-row-end: 3;    
}

.aside-right {
    background-color: blue;
    grid-column-start: 3;
    grid-column-end: 4;
    
}
.footer {
    background-color: yellow;
    grid-column-start: 1;
    grid-column-end: 4;
}



@media (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 20vh 20vh 20vh 20vh 20vh 20vh;
    }
    
     .header {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .aside-left {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .aside-right {
        background-color: blue;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        
    }
    .main {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .footer {
        grid-column-start: 1;
        grid-column-end: 4;
    } 


}

